@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"Member - {ViewBag.DisplayName}";
}

<h1>Member <small>@ViewBag.DisplayName</small></h1>

<hr />

@RenderBody()

@section Scripts {
    @RenderSection("scripts", required: false)
}