<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FoobleContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Fooble;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dependentAssembly>
    <assemblyIdentity name="FSharp.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
    <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
  </dependentAssembly>
</configuration>
